<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면 </title>
    <style>

    </style>
</head>
<body>
    <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
    <h1>배너 관리 - 배너 등록</h1>


    <div class="detail" >

        <table>
            <tbody>
                <tr>
                    <th>배너명</th>
                    <td>
                        <p>asd</p>
                    </td>
                </tr>
                <tr>
                    <th>배너 파일</th>
                    <td>
                        <p>asd</p>
                    </td>
                </tr>
                <tr>
                    <th>링크 주소</th>
                    <td>
                        <p>asd</p>
                    </td>
                </tr>
                <tr>
                    <th>오픈방법</th>
                    <td>
                        <p>asd</p>
                    </td>
                </tr>
                <tr>
                    <th>정렬 순서</th>
                    <td>
                        <p>asd</p>
                    </td>
                </tr>
                <tr>
                    <th>공개 여부</th>
                    <td>
                        <p>asd</p>
                    </td>
                </tr>
            </tbody>
        </table>

        <div>
            <a href="list.do"> 배너 등록하기 </a>
            <a href="list.do"> 목록 </a>
        </div>

    </div>

</body>
</html>
