<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>배너 등록 결과</title>
</head>
<body>

    <div th:if="${result}">
        <h1>배너 등록 완료</h1>
        <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>


        <p>배너 등록이 완료되었습니다.</p>
    </div>

    <div th:if="${result eq false}">
        <h1>배너 등록 실패</h1>
        <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>


        <p>배너 등록에 실패했습니다.</p>
    </div>



</body>
</html>
