<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>관리자 화면 </title>
    <style>
        .register table {
            width: 100%;
            border-collapse: collapse;
        }
        .register table th, .register table td {
            border: solid 1px #000;
        }
    </style>
</head>
<body>
    <div th:replace="/fragments/layout.html :: fragment-admin-body-menu"></div>
    <h1>배너 관리 - 배너 등록</h1>



        <div class="register">

            <form method="post" action="register.do">

                <table>
                    <tbody>
                        <tr>
                            <th>배너명</th>
                            <td>
                                <input type="text" name="bannerName" placeholder="배너명 입력"/>
                            </td>
                        </tr>
                        <tr>
                            <th>대체 텍스트</th>
                            <td>
                                <input type="text" name="alterText" placeholder="대체 텍스트 입력"/>
                            </td>
                        </tr>
                        <tr>
                            <th>배너 파일</th>
                            <td>
                                <input type="file" id="bannerImage" accept="image/*">
                            </td>
                        </tr>
                        <tr>
                            <th>링크 주소</th>
                            <td>
                                <input type="text" id="url" placeholder="링크 주소 입력"/>
                            </td>
                        </tr>
                        <tr>
                            <th>오픈 방법</th>
                            <td>
                                <select name="target" id="openMethod">
                                    <option value="choose">오픈 방법 선택</option>
                                    <option value="current">현재창</option>
                                    <option value="new">새로운창</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>정렬 순서</th>
                            <td>
                                <input type="text" id="sortOrder" placeholder="정렬 순서 입력"/>
                            </td>
                        </tr>
                        <tr>
                            <th>공개 여부</th>
                            <td>
                                <input type="checkbox" id="public" />
                                <label for="public">공개</label>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <br>

                <div style="text-align:center">
                    <input type="submit" value="배너 등록하기">
                    <span>&nbsp;</span>
                    <a href="list.do">목록 이동</a>
                </div>

            </form>

        </div>


</body>
</html>
