<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>메인 페이지</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.slider').bxSlider({
                mode: 'fade',
                moveSlides: 1,
                speed: 500,
                auto: true,
                infiniteLoop: true,
                pager: true,
                touchEnabled : false,
            });
        });
    </script>
</head>
<body>
    <h1>메인 페이지 </h1>
    <div th:replace="/fragments/layout.html :: fragment-body-menu"></div>

    <ul class="slider">
        <li th:each="banner : ${bannerList}">
            <th:block th:if="${banner.public}">
                <a th:href="${banner.url}" th:target="${banner.openTarget == 'new' ? '_blank' : '_self'}">
                    <img th:src="${banner.imageName}" th:alt="${banner.alterText}">
                </a>
            </th:block>
        </li>
    </ul>

</body>
</html>
